ANTHROPIC_API_KEY=
TMDB_API_KEY=
TMDB_API_BASE_URL=https://api.themoviedb.org/3
WATCHMODE_API_KEY=
IPAPI_BASE_URL=https://ipapi.co
PORT=3001
NODE_ENV=production
FRONTEND_URL=https://what-should-i-watch.vercel.app
